body {
    background-image: url(web_images/general/chess_background.jpeg);
    color:black
    
}

h1 {
    color:brown;
}

blockquote {
    color:brown;

}

p {
    font-family: Arial, sans-serif;
}

